:root{
	--main-color: 		#333333;
	--secondary-color: 	#EDEDED;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: var(--secondary-color)
}

/* Navegación */

.navbar{
	background-color: var(--main-color);
	padding: 50px;
	padding-bottom: 95px;
}

.navbar-brand{
	font-weight: 300;
	font-size: 18px;
	font-weight: bold;
}

.nav-small {
	font-size: 14px;
	font-weight: 300;
	color: white !important;
}

.filtros {
	margin-top: -55px;
}

/* Sección de vendedores */

#vendedores{
	padding-top: 50px;
	padding-bottom: 80px;
}

.btn {
	background-color: var(--main-color);
	color: white;
}

.btn:hover {
	color: white;
}


/* Tarjetas de los vendedores */

.card{
	margin-bottom: 10px;
	border: none;
	border-radius: 0px;
}

.card-header{
	text-align: center;
	font-weight: 700;
	background-color: var(--main-color);
	color: white;
	border-radius: 0px !important;
}

.img-vendedor{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 75%;
}

.medalla{
	position: absolute;
	right: 10px;
	width: 30px;
	height: auto;
}

.reputation{
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 120%;
}

.seller-rep{
	margin-bottom: -10px;
}

.rep-desc{
	font-size: 60%;
	line-height: 0;
}

.seller-links{
	margin-top: 10px;
}

.card a{
	color: var(--main-color) !important;
}

.link-icon{
	font-size: 250%;
}

.link-name{
	font-size: 60%;
}