:root{
	--main-color: #783BB8;
}

body{
	font-family: 'Lato', sans-serif;
}

.navbar{
	background: var(--main-color);
}

.navbar-brand{
	font-weight: 700;
}

/* Sección de vendedores */

#vendedores{
	padding-top: 80px;
	padding-bottom: 80px;
}

/* Tarjetas de los vendedores */

.card{
	margin-bottom: 10px;
}

.card-header{
	text-align: center;
	font-weight: 700;
	font-size: 120%;
	background-color: var(--main-color);
	color: white;
}

.img-vendedor{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 75%;
}

.reputation{
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 120%;
}

.seller-rep{
	margin-bottom: -10px;
}

.rep-desc{
	font-size: 60%;
	line-height: 0;
}

.seller-links{
	margin-top: 10px;
}

.card a{
	color: var(--main-color) !important;
}

.link-icon{
	font-size: 250%;
}

.link-name{
	font-size: 60%;
}