/* Sección de vendedores */

#vendedores{
	padding-top: 80px;
	padding-bottom: 80px;
}

/* Tarjetas de los vendedores */

.card-header{
	text-align: center;
	font-weight: 700;
	font-size: 120%;
}

.img-vendedor{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 75%;
}

.reputation{
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 120%;
}

.seller-rep{
	margin-bottom: -10px;
}

.rep-desc{
	font-size: 60%;
}

.seller-links{
	margin-top: 10px;
	margin-bottom: 10px;
}

.link-icon{
	font-size: 250%;
}

.link-name{
	font-size: 60%;
}